---
import Content from "../content/index.mdx"
import CommonHead from "../components/common-head.astro"
import "../styles/prose.css"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <CommonHead />
  </head>
  <body class="prose mx-auto py-8 px-4">
    <Content />
  </body>
</html>
