---
import Content from "../components/index.mdx";
import CommonHead from "../components/common-head.astro";
import "../styles/prose.css";
---

<html lang="en">
  <CommonHead />
  <body class="prose mx-auto py-8 px-4">
    <Content />
  </body>
</html>
