---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>opx - Run NodeJS apps with Secrets from 1Password</title>
  </head>
  <body class="px-4 prose mx-auto pt-28">
    <h1>🚧 OPX - Site is WIP</h1>
    <code>cargo install opx</code>
    <hr />
    <a href="https://github.com/Hacksore/opx">Source on GitHub</a>
    <h2>Usage</h2>
    Create an .env file in your project with a 1password secret ref
    <code>APPLE_ID="op://overlayed/apple_id/credential"</code>
    <br />
    Run your app with opx
    <code> opx</code>
  </body>
</html>
