<div class="flex gap-2">
  <a href="https://crates.io/crates/opx" target="_blank" class="p-0">
    <img class="m-0 p-0" src="https://img.shields.io/crates/v/opx" />
  </a>
  <a
    href="https://github.com/Hacksore/opx/actions/workflows/ci.yaml"
    target="_blank"
    class="p-0"
  >
    <img
      class="m-0 p-0"
      src="https://img.shields.io/github/actions/workflow/status/Hacksore/opx/ci.yaml"
    />
  </a>
  <a href="https://github.com/Hacksore/opx/LICENSE" target="_blank" class="p-0">
    <img class="m-0 p-0" src="https://img.shields.io/crates/l/opx.svg" />
  </a>
</div>
