---
import { SITE_DESCRIPTION } from "../config";
---

<div class="flex flex-col">
  <div class="flex justify-center items-center">
    <img src="/logo.png" class="w-[256] h-[256]" alt="opx" />
  </div>
  <div class="flex flex-col">
    <h1 class="p-0 m-0">
      <a
        href="https://github.com/Hacksore/opx"
        class="font-bold"
        target="_blank">OPX</a
      >
    </h1>
    <p>{SITE_DESCRIPTION}</p>
  </div>
</div>
